.order-list-body-container{
    background-color: var(--white);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.order-list-recent-purchases-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    align-items: center;
}
.title-order-list-recent-purchases-header{
    font-size: 20px;
    font-weight: bold;
}
.menuBtn-order-list-recent-purchases-header{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.menuBtn-order-list-recent-purchases-header{
    scale: 1.1;
    transition-delay: 0.1s;
}
.dashboard-component-3-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: rgb(128, 128, 128);
    border-bottom: 1px solid lightgray;
}