.order-list-header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.direction-text-order-list-header{
    display: flex;
    flex-direction: column;
}
.text-order-list-header{
    font-size: 26px;
    font-weight: bold;
}
.icon-date-order-list-header{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.date-order-list-header{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}