@import '../styles/_index.module.css';
body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
    padding: 0;

}
.left-content{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    background-color: #fafafa;
    text-align: left;
}
.right-content{
    margin-left: 1px;
    width: 100%;
}
