table{
    width: 100%;
}
thead{
    border-bottom: 1px solid var(--gray);
}
thead > tr > th{
    padding: 10px;
    text-align: center;
}
tbody > tr >td{
    text-align: center;
    margin-bottom: 0px;
    padding: 15px;
}
.customer-table-recent-purchases{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.customer-avatar-table-recent-purchases{
    border-radius: 50%;

}
.status-icon-table-recent-purchases{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}
