.statistic-item-container{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
    width: 353px;
    height: 140px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.statistic-title-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
}
.tile-statistic-item{
    margin-bottom: 0;
}
.menuBtn-statistic-item{
    border: none;
    background-color: transparent;
}
.menuBtn-statistic-item:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s;
}
.statistic-content-body-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.statistic-content-body-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icon-statistic-item{
    border-radius: 7px;
    padding: 7px;
    background-color: var(--blue);
}
.total-statistic-item{
    font-size: 19px;
    font-weight: bold;
}
.percent-statistic-item{
    font-size: 19px;
    color: var(--black);
}
.statistic-content{
    display: flex;
    flex-direction: column;
}
.statistic-content-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.statistic-content-footer{
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}

